[2020-04-15 21:27] amitdingareNovelis opened #1 "missing coil ids between CM* and CM*_time delta tables for Pinda"
25,000+ coils are missing between CM* and CM*_time delta tables for Pinda. This is creating inconsistencies for the feature library.

[2020-04-16 02:35] amitdingareNovelis opened #3 "missing coils between HFM and CM operations"
18137 coils exist in CM1 + CM2 + CM3 tables, but not in HFM table.

10371 coils exist in HFM but not in CM1 + CM2 + CM3 tables.

[2020-04-16 20:49] amitdingareNovelis opened #7 "Oswego and PBA caster, melter and holder tables have different formats. Is there a reason?"
Oswego Caster table has 386 columns and Pinda Caster table has 562 columns.
Oswego Melter table has 145 columns and Pinda Melter table has 183 columns.
Oswego Holder table has 128 columns and Pinda Holder table has 148 columns.
Why is there a difference?

[2020-04-16 21:05] amitdingareNovelis opened #8 "Pinda coils missing between HFM and HRM"
4260 coils that exist in HFM do not exist in HRM for PBA.
36349 coils that exist in HRM do not exist in HFM for PBA.

[2020-04-21 21:20] amitdingareNovelis opened #9 "Should Unique combination exist for a metal code and coil id, pass number combination? This issue is becoming more common."
We are finding that multiple rows exist for a unique combination of metal code, coilid and pass number. Could this be because something happened and the pass needs to be redone? If so, should the DE team keep values pertaining to the last row of that pass?

See an example below

![image](https://user-images.githubusercontent.com/4303278/79915093-56d0ba00-83f4-11ea-80a1-ba74339a259a.png)

[2020-04-30 16:32] amitdingareNovelis opened #17 "Pinda number of coils produced in CM do not match that from PCS"
[CM_production_data.xlsx](https://github.com/novelis-prod/AA_DE_MachineProcessData/files/4559670/CM_production_data.xlsx)

@agrawalch @WilberDelbrison  pulled the number of coils from PCS and we compared those to what in the data lake in the month of April. We see discrepancies.

[2020-05-05 15:49] SauravNovelis opened #20 "Sync length and relative length does not have one to one mapping"
This is an example of the data coming from HFM for a specific coil.
![image](https://user-images.githubusercontent.com/58706689/81086979-2ba39b80-8ec7-11ea-90ef-ef1131f8a4ea.png)

[2020-05-06 20:50] SauravNovelis opened #22 "Pinda HFM sync lengths zeros"
While trying to join the data between HFM and CM1,

![image](https://user-images.githubusercontent.com/58706689/81226845-7ac9f900-8fb9-11ea-8929-6ad29a3ee94a.png)

![image](https://user-images.githubusercontent.com/58706689/81226806-6be34680-8fb9-11ea-87b1-94b4ed519979.png)

we noticed that sync lengths are all zeros in HFM for 2020 data.
![image](https://user-images.githubusercontent.com/58706689

[2020-05-08 21:01] RyanNovelis opened #25 "Question: Reason for different coilid name between machine centers"
I am curious about why the coilid column for pinda hrm and hfm is cg_Gen_Coilid but for cm3 it is cg_Gen_CoilID?

![image](https://user-images.githubusercontent.com/58708978/81449075-733b5900-914d-11ea-9c1c-0b6cad159663.png)
![image](https://user-images.githubusercontent.com/58708978/81449106-851cfc00-914d-11ea-8fa6-a72579d0e516.png)

[2020-05-20 11:43] guptaad opened #29 "Pinda: Discrepancy between coil_lineage vs machine center table"
The validation being 3 measures for the #of coils.
1- Expected coils = #of coils in coil_lineage
2- Missing #of Coils = Coil_ID exists in Coil_Iineage but not in <machine center> table.
3- Actual #of Coils = #of coils in the <machine center> table.

The validation would pass when Expected coils = Actual Coils.
This test failed for HRM, HFM, CM1, CM2 and CM3 of Pinda.

select 'expected coils', coun

[2020-05-28 18:56] amitdingareNovelis opened #30 "sync length missing from the time delta tables."
sync length does not exist in the _time tables. This makes joining the tables across machine centers difficult.

![image](https://user-images.githubusercontent.com/4303278/83181690-3bdc1e80-a0f3-11ea-965c-1771fa253cb6.png)

[2020-06-03 14:32] guptaad opened #31 "The yej_cm3 and yej_cm2 does not have cg_gen_passnumber column"
The yej_cm3 is expected to have the pass number column.

[2020-06-03 14:33] guptaad opened #32 "The yej_hrm does not have cg_Gen_TotalPass"
The HRM does not have Total Pass column - cg_Gen_TotalPass

[2020-06-05 11:48] amitdingareNovelis opened #33 "The pass numbers in _time tables don't look right"
![image](https://user-images.githubusercontent.com/4303278/83872927-e4e0d580-a700-11ea-8bf8-38a5512e315b.png)

[2020-06-05 11:54] amitdingareNovelis opened #34 "how do join data at a granularity lower than the coilid from the _time tables"
@guptaad This is the specific to the missing Sync Length field among the _time tables. Without that, we can't join _time tables at a granularity lower than the coilid.

[2020-06-05 16:05] RyanNovelis opened #35 "Timestamp in PI data string type rather than timestamp"
For each plant and machine center for PI data the Timestamp column is a string.

![image](https://user-images.githubusercontent.com/58708978/83898326-c1c81d00-a724-11ea-905c-9e541ca51933.png)
![image](https://user-images.githubusercontent.com/58708978/83898349-cbea1b80-a724-11ea-8585-9b7452c52824.png)
![image](https://user-images.githubusercontent.com/58708978/83898379-d6a4b080-a724-11ea-80d9-c6e3

[2020-06-09 12:05] guptaad opened #36 "The column cg_gen_passnumber does not exist in CM88"
![image](https://user-images.githubusercontent.com/53626261/84145395-c98b0880-aa27-11ea-9b97-c2579f48d715.png)

[2020-06-09 13:48] RyanNovelis opened #37 "sync length intervals"
Question,  but possible bug.

Is sync_length supposed to be at every 0.25 interval or can there be jumps as seen below?

![image](https://user-images.githubusercontent.com/58708978/84155495-605ec180-aa36-11ea-8350-99f866ac7e0b.png)

[2020-06-09 19:31] agrawalch opened #39 "The value of column use_index in coil_lineage table is not correct"
The sequencing for use_index column in coil_lineage table is not correct.

![image](https://user-images.githubusercontent.com/53792688/84191106-0118a580-aa66-11ea-990f-3759fdad74dd.png)

[2020-06-09 19:34] agrawalch opened #40 "Entry-Head-Discard values are negative in coil lineage table"
Entry-Head-Discard values are negative in coil lineage table
![image](https://user-images.githubusercontent.com/53792688/84191558-a59ae780-aa66-11ea-8895-11147eab3630.png)

[2020-06-12 14:48] khancynthia28 opened #41 "test"

[2020-06-12 14:49] #41 closed

[2020-06-12 15:21] amitdingareNovelis opened #42 "Oswego Delta tables is missing CM72 data. When will it be available?"

[2020-06-12 15:24] amitdingareNovelis opened #43 "Oswego CM88 is missing cg_Gen_PassNumber"
![image](https://user-images.githubusercontent.com/4303278/84518845-4bd13200-ac9f-11ea-9792-1af518706754.png)

[2020-06-12 16:45] agrawalch commented on #39
This problem has been fixed by updating DE-rules.
![image](https://user-images.githubusercontent.com/53792688/84526052-a58b2980-acaa-11ea-8cc7-64bb08ae0220.png)

[2020-06-12 16:45] #39 closed

[2020-06-12 18:50] zennet-novelis commented on #32
@guptaad
Krishna and I talked about this for Oswego CM72 today. Looks like we won't be able to define it because it's not available. He's going to open this as another issue.

[2020-06-12 18:51] zennet-novelis commented on #43
Duplicate of #36

[2020-06-12 19:29] KrishnaMaddipati opened #44 "Oswego CM72 coil id invalid in parquet length"
The coil id values for OSW CM72   has a 6 digit string(031823)  instead of a 7 digit string.

![CM72](https://user-images.githubusercontent.com/62263802/84538831-4afcc800-acc0-11ea-8e7c-da573d882137.JPG)

![image](https://user-images.githubusercontent.com/62263802/84539091-d0807800-acc0-11ea-850b-dfd40a4b2ed0.png)

Looks like the last digit of the coil id was getting ripped off during parquet conv

[2020-06-12 19:54] zennet-novelis commented on #44
Fixed and testing on CM72 May 8 parquet length.

[2020-06-12 20:03] KrishnaMaddipati opened #45 "OSW CM72 doesn't have cg_Gen_TotalPass in parquet length"
CM72 parquet length data doesn't have cg_Gen_TotalPass signal.

![image](https://user-images.githubusercontent.com/62263802/84541825-1db31880-acc6-11ea-99f9-b70eed344353.png)

[2020-06-12 20:58] amitdingareNovelis commented on #43
I will close it as soon as it is marked as resolved.

[2020-06-12 21:15] amitdingareNovelis opened #46 "Every single coil in HFM has a metal code = '1000000000000000'"
This makes the data unusable for downstream processes.
![image](https://user-images.githubusercontent.com/4303278/84546863-43451f80-acd0-11ea-8efd-53083945e095.png)

[2020-06-12 21:22] zennet-novelis commented on #45
For CM72, it doesn't look like this information is available in IBA. Only via MIS. We can ask Oswego to be sure as I'm just guessing based on the IBA file and PDO.

I didn't check CM88.

[2020-06-12 21:32] amitdingareNovelis commented on #45
We will need this information. It has to be available somewhere.

[2020-06-12 21:37] zennet-novelis commented on #45
It is definitely available in MIS and a few other systems. But not in the IBA system so we can't fix it in a PDO. at least that's what I'm guessing. DE Rules can implement it another way.

[2020-06-15 15:32] KrishnaMaddipati opened #47 "OSW HRM length parquet doesn't have cg_Gen_PassNumber signal"
OSW HRM length parquet have TotalPass signal, but it doesn't have PassNumber signal.

![image](https://user-images.githubusercontent.com/62263802/84676424-7e776680-aefb-11ea-8bfd-8d053a9899a6.png)

[2020-06-15 15:36] zennet-novelis commented on #47
**cg_Gen_PassNumber** was not implemented in the parquet length PDO.

We have two signals already in the PDO
check Pass Counter [5:20]
vd_PassNumber [9:0]
But they have not been selected for export and are not in the parquet length.

[2020-06-15 16:43] zennet-novelis commented on #47
If yes, please go ahead.

I can implement the cg_gen_passnumber expression, and enable the export of the pass number signals in the PDO.
Then we need to reprocess May - June data and validate.

[2020-06-15 18:08] KrishnaMaddipati commented on #47
Can we get PassNumber values from MES or anywhere else?

If so, then we don't need to reprocess the data again, we can update the values using that data for historical data (already processed data).

[2020-06-16 03:19] zennet-novelis opened #48 "Oswego CM88 Filter PDO timing out after 7 minutes"
CM88 Filter PDO is timing out again after having been fixed by Manko twice.

This also causes our CM88 Raw files to not be uploaded because our pipeline is not design to tolerate errors.

And the pipeline is set to retry 3 times which means that we spend 21 minutes per failed file. We only have 3 minutes to do all the processing per machine center per coil if we want to get it done within 22 hours

[2020-06-16 03:19] zennet-novelis commented on #48
I reached out to Manko and sent him samples of the CM88 dat files that are failing due to timeout.

[2020-06-16 03:22] zennet-novelis opened #49 "Oswego Dat Coor Causing Orphaned Procs"
Last week Dat Coor went totally haywire with tons of iba analyzer instances trying to run at once. I couldn't even stop jobs or stop the Dat Coor server.

Today I noticed that performance of even a file Move job was taking about a minute when it should take 1 second. After stopping all the jobs and the server, I noticed that there were 250 orphaned cmd.exe, python.exe, and ibanalyzer.exe processes

[2020-06-16 03:23] zennet-novelis commented on #49
I reached out to Manko and he said that he's seen this sort of error before. We agreed it looks like ibaanalyzer or python processes are not cleanly exiting. I sent him config files so that he can take a look at it.

[2020-06-16 03:28] zennet-novelis commented on #42
CM72 Coil ID was fixed in #44 and reprocessed on Friday.

@KrishnaMaddipati said the month of May should be available in the Enterprise Zone June 16.

[2020-06-16 13:26] guptaad commented on #49
@zennet-novelis based on our discussion today, please update us once the D06 server is configured to process the raw-pipeline.

[2020-06-16 13:30] guptaad commented on #47
![image](https://user-images.githubusercontent.com/53626261/84780695-dffb0c00-afb3-11ea-9ce3-2e093f507ba5.png)

@KrishnaMaddipati the data is showing the pass# in the OSW HRM for all coils. Can you confirm if this is still the issue?

[2020-06-16 13:32] zennet-novelis commented on #42
@guptaad
Krishna said this was ready yesterday.

[2020-06-16 13:33] guptaad commented on #46
@KrishnaMaddipati - as discussed, please change the logic to populate the metal_code from the combination of the L2 and MES systems. The metal_code should be generated based on the coil_id from L2 data or MES data, whichever comes first.

Once you have this logic done, you will need to update the historical data.

[2020-06-16 13:58] guptaad commented on #45
@KrishnaMaddipati @zennet-novelis  @amitdingareNovelis - the TotalPass information comes from HRM. The CM will only have the PassNumber, not TotalPass.

The CM72 does have the cg_Gen_PassNumber. Did I get something wrong?

![image](https://user-images.githubusercontent.com/53626261/84784062-e095a180-afb7-11ea-99c8-bfef57d0de5e.png)

[2020-06-16 14:04] guptaad commented on #37
@RyanNovelis this is possible when there is no signal captured for the meter length of the coil. This should be rare.
Is this something in Pinda?
Can you please give me the coil# for this?

[2020-06-16 14:05] guptaad commented on #36
@zennet-novelis , We discussed this in our daily call a couple of times. Please let me if you need to discuss.

[2020-06-16 14:06] guptaad commented on #36
I understand that the code is complete for this, and we are waiting to test this data once the IBA DAT Coordinator issues are resolved.

[2020-06-16 14:17] RyanNovelis commented on #37
@guptaad This is from opsentprodg2.pba_cm3 and the coil# is 71901.

[2020-06-16 15:57] ethanchaNovelis opened #50 "Oswego Melter data - containing multiple duplicate batch & master_batch ids"
![image](https://user-images.githubusercontent.com/60716978/84797470-e0050700-afc7-11ea-92d1-2fc02ec5eab0.png)
![image](https://user-images.githubusercontent.com/60716978/84798002-70dbe280-afc8-11ea-9113-d215acbee6f6.png)

Hello, while validating data on our end, I noticed that there are multiple duplicate batch ids & master_batch_ids for Oswego Melter, Holder, and (I assume the situation may be s

[2020-06-16 17:09] zennet-novelis commented on #48
Parquet length and parquet time are running in time on my tests on the same coil files that Filtered pdo mostly timed out on. What is different about Filtered vs parquet length and time?

These tests were on P02 (aka Homer).

[2020-06-16 17:42] amitdingareNovelis commented on #31
I didn't find pass number in yej_cm3.

![image](https://user-images.githubusercontent.com/4303278/84808772-2ca40e80-afd7-11ea-9548-0f0c313329fb.png)

[2020-06-16 17:56] amitdingareNovelis opened #51 "metal code is not populated for many coils in May and June for Yeongju"
![image](https://user-images.githubusercontent.com/4303278/84810307-2b73e100-afd9-11ea-83ae-8905c2a368c1.png)

[2020-06-16 20:28] zennet-novelis commented on #48
Filtered pdo all runs without timing out if given 20 minutes on Homer. Average time is 11 minutes. Zero errors so far.

[2020-06-17 11:53] BrentR2020 commented on #45
Can we close this issue?  Nobody else on the team can close this except Adarsh and Amit.

[2020-06-17 11:54] BrentR2020 commented on #44
This one should be closed, it has been fixed, validated and tested.

[2020-06-17 11:55] BrentR2020 commented on #42
This one should also be closed.

[2020-06-17 11:57] BrentR2020 commented on #36
Need to get the pipeline working and uploads to D06.

[2020-06-17 11:58] BrentR2020 commented on #32
ChangHyuck has tested and validated, this should be closed.

[2020-06-17 11:59] BrentR2020 commented on #31
Krishna will add the column today.

[2020-06-17 15:55] guptaad commented on #51
@KrishnaMaddipati and @changhyucklee - I think this is the same issue that we are working on with Oswego data where we want the metal_code to be generated at the time of coil arrival. Once Oswego is complete, please use the same method to implement this in YJ.

[2020-06-17 17:03] guptaad commented on #32
![image](https://user-images.githubusercontent.com/53626261/84927472-e3b58e00-b09a-11ea-8baf-1fd0797cc4a4.png)

I am able to see the cg_GenTotalPass and the data looks correct.

[2020-06-17 17:03] guptaad commented on #32
With the latest finding. Closing this issue.

[2020-06-17 17:03] #32 closed

[2020-06-17 20:10] guptaad commented on #31
![image](https://user-images.githubusercontent.com/53626261/84945229-08b6fa80-b0b5-11ea-8ee7-c4979a2817ff.png)

The pass number in the cold mill is added and showing up. The historical data updates will fix the null values in the pass number.

[2020-06-17 20:10] #31 closed

[2020-06-17 20:12] guptaad opened #52 "YJ: Null pass# in CM"
![image](https://user-images.githubusercontent.com/53626261/84945337-297f5000-b0b5-11ea-95e0-a0c356af34f4.png)

The CM2 and CM3 both have NULL values for pass#. This needs to be fixed with historical data updates.

[2020-06-18 11:51] guptaad commented on #47
We have the data for the TotalPass.

[2020-06-18 11:51] #47 closed

[2020-06-18 11:52] guptaad commented on #45
Closing as the data is available.

[2020-06-18 11:52] #45 closed

[2020-06-18 11:52] guptaad commented on #44
The correct data is loaded.

[2020-06-18 11:52] #44 closed

[2020-06-18 11:53] guptaad commented on #42
Data is loaded.

[2020-06-18 11:53] #42 closed

[2020-06-18 13:55] amitdingareNovelis opened #53 "The number of coils in CM72 and CM88 in the data lake has a large variance."
Can we validate these numbers against the MES data?

![image](https://user-images.githubusercontent.com/4303278/85029015-d4414e00-b149-11ea-8798-a080791a58ae.png)

[2020-06-18 14:06] amitdingareNovelis opened #54 "coils stopped coming to data lake for CM72 and CM88"
![image](https://user-images.githubusercontent.com/4303278/85030368-5d0cb980-b14b-11ea-8e82-53a34353f597.png)

[2020-06-18 14:19] guptaad commented on #53
@amitdingareNovelis , we can but the DAP data load processes are not functional. The TCS ops team is working on it to resolve.

[2020-06-18 14:33] amitdingareNovelis commented on #46
same problem also exists for CM.

![image](https://user-images.githubusercontent.com/4303278/85033636-2cc71a00-b14f-11ea-9a45-26666aa81103.png)

[2020-06-18 14:39] amitdingareNovelis opened #55 "Many coils in CM have pass number as nulls"
![image](https://user-images.githubusercontent.com/4303278/85034266-e7efb300-b14f-11ea-9a69-e84e88ee9e82.png)

[2020-06-18 14:45] amitdingareNovelis opened #56 "same coil, metal code and pass number for CM72 are received on multiple days"
![image](https://user-images.githubusercontent.com/4303278/85035105-d0fd9080-b150-11ea-99fd-86fdcbdcbcd1.png)

[2020-06-18 14:46] amitdingareNovelis commented on #56
This may not be an issue once the metal codes are populated, but wanted to have it open. We can close it once we populate the metal codes.

[2020-06-18 14:47] amitdingareNovelis commented on #53
@SatwikNovelis could you query MES data for CM coil numbers starting Masy 1st?

[2020-06-18 18:21] zennet-novelis commented on #53
CM88 around 1085 IBA on L2. Around 513 in Delta table.

[2020-06-18 18:59] amitdingareNovelis opened #58 "For Oswego, many coils exist in CM, but not in HFM"
![image](https://user-images.githubusercontent.com/4303278/85060922-01a2f180-b174-11ea-90e4-40ce73d6de50.png)

Above is just one example, but there are 692 coils that satisfy this condition.

[2020-06-18 20:52] amitdingareNovelis opened #59 "For Oswego 662 coils exist in HRM but not in HFM"
Here is an example
![image](https://user-images.githubusercontent.com/4303278/85070565-066fa180-b184-11ea-95bb-51a9084d9d83.png)

[2020-06-22 02:55] amitdingareNovelis opened #60 "Pinda CM has many coils with sync length < 0"
![image](https://user-images.githubusercontent.com/4303278/85244333-4fd52080-b412-11ea-9cb5-567f2ff1089b.png)

[2020-06-22 11:35] guptaad commented on #40
Demoting to 2nd Priority as some of this data is expected. We may need to catch these during the L1 or L2 validation checks.

[2020-06-22 16:11] zennet-novelis commented on #36
We should have 6 days of data to validate this on.

[2020-06-22 16:35] zennet-novelis commented on #36
@KrishnaMaddipati Validated that this is fixed and can be closed.

[2020-06-22 17:06] amitdingareNovelis commented on #60
Exact number is 638 so far.

[2020-06-22 17:11] guptaad commented on #59
This is possible as the historical loads catch up to all the data.

[2020-06-22 17:12] guptaad commented on #58
this is possible as the historical data loads progress.

[2020-06-22 17:15] guptaad commented on #56
This may be the same case as we found in Pinda that the coil_id is manually entered and it is incorrect. Once the Metal_Code is correctly populated, we need to check on this.

[2020-06-22 17:38] amitdingareNovelis commented on #53
Thanks. Any specific reason for this?

[2020-06-22 17:45] guptaad commented on #53
As of today, we have the MES data coming into the data lake from Oswego. @zennet-novelis is working on the SQL to check the numbers from MES as we will need this data as input to DE processes as well.

[2020-06-22 17:51] guptaad commented on #36
![image](https://user-images.githubusercontent.com/53626261/85319425-7ab18a00-b48f-11ea-9d08-aae69daea9b6.png)

The Pass# are showing up now. Closing this issue.

[2020-06-22 17:51] #36 closed

[2020-06-22 17:53] guptaad opened #61 "Oswego CM88: Null cg_gen_passnumber"
![image](https://user-images.githubusercontent.com/53626261/85319546-af254600-b48f-11ea-9d01-8ce3a4ea6c06.png)

There are 540 coils where the pass# is not calculated. This needs to be manually updated.

[2020-06-22 19:26] amitdingareNovelis commented on #58
The issue is not limited to historical data. I found many coils (469) where the issue exists even for June 2020.,

![image](https://user-images.githubusercontent.com/4303278/85327336-c3237480-b49c-11ea-9eec-eb19a5d4db8c.png)

[2020-06-22 21:33] amitdingareNovelis commented on #54
Data seems to have caught up, but the coil numbers appear low.

[2020-06-22 22:03] zennet-novelis commented on #54
@amitdingareNovelis
Data has not caught up yet for CM88, CM72 but should within 3 days. I can ping you or update here when it does.

[2020-06-23 02:25] zennet-novelis commented on #61
Likely duplicate of #55

[2020-06-23 11:16] guptaad commented on #55
@amitdingareNovelis I see this in the CM88 for now, but not in the CM72. Can you please confirm?
The historical data loads will resolve this issue.

[2020-06-23 11:17] guptaad commented on #61
This is a duplicate of #55; so closing this one

[2020-06-23 11:17] #61 closed

[2020-06-23 13:21] amitdingareNovelis commented on #59
This is also true for June data.
![image](https://user-images.githubusercontent.com/4303278/85408760-f1ec2a00-b532-11ea-827a-22762ed98d46.png)

[2020-06-23 15:55] agrawalch commented on #46
metal_code is added to all the coils from June month as of yesterday present in the cloud. For those same coils, if there are HFM and CM88 coils, they are also updated with the metal_code. This update in oswego machine center table is done in the production environment. However, coil_index table is present in the dev. So you can access machine center coils from production environment for training

[2020-06-23 18:43] zennet-novelis opened #62 "eRg_EntryTailDiscard missing from CM88 parquet length PDO"
**eRg_EntryTailDiscard** signal was present in parquet output of PDO from May data. The signal is presently missing in June data for both CM72 and CM88.

[2020-06-23 18:43] zennet-novelis commented on #62
Reported by @KrishnaMaddipati

[2020-06-23 21:21] amitdingareNovelis commented on #59
@guptaad given that this is true for June, should this be marked as Priority 1?

[2020-06-23 21:21] amitdingareNovelis commented on #58
@guptaad given that this is true for June, should this be marked as Priority 1?

[2020-06-24 11:46] guptaad commented on #62
As discussed; finish the hotmill pipeline first, and then triage this.

[2020-06-24 17:38] zhiyu-novelis opened #63 "Missing values in HFM coil68644 June 3, 2020"
I randomly downloaded a coil dataset from aldsgen2 for eagle anomaly detection, and it seems like there are lots of missing values, many are in the last row.

<img width="546" alt="coil68644nas" src="https://user-images.githubusercontent.com/65193309/85604860-ab282e00-b61f-11ea-8e3b-7accf52ea099.png">

<img width="218" alt="na_counts" src="https://user-images.githubusercontent.com/65193309/8560487

[2020-06-24 21:09] RyanNovelis opened #64 "eRg_TotalLength and eg_RelativeLength issues in CM1"
Within CM1 eRg_TotalLength is very small, and I am not sure if that is correct. This is causing a discrepancy between actual_pos (calculated from eg_RelativeLength * eRg_TotalLength) and wanted to touch base.

Another question is that eg_RelativeLength is greater than 1.

![image](https://user-images.githubusercontent.com/58708978/85627859-3237cf00-b63d-11ea-8e34-63b107ff9804.png)
![image](https:/

[2020-06-24 21:23] RyanNovelis opened #65 "Repeated eg_RelativeLength in CM2 and CM3 causing repeats in actual_pos"
In both CM2 and CM3 there are repeats within eg_RelativeLength per cg_Gen_PassNumber causing duplication within CM2 and data inconsistencies within CM3

CM2
![image](https://user-images.githubusercontent.com/58708978/85629202-6c09d500-b63f-11ea-8772-bcc0386a1927.png)

CM3
![image](https://user-images.githubusercontent.com/58708978/85629044-25b47600-b63f-11ea-8a71-4e14077eb666.png)
![image](https:/

[2020-06-25 14:28] zennet-novelis commented on #62
We discussed this issue in a call with Manko this morning. It looks like the problem is more complex that I had originally thought (wrong version of PDO) and we need to do more testing on coil files from May and June using Filtered pdo and Parquet length pdo to find out what is causing this and what we can do to fix it.

Raimund has spent about two hours looking into the cause.

[2020-06-25 20:57] zennet-novelis commented on #54
@amitdingareNovelis
CM72 and CM88 are coming into the data lake again.
You can close this issue.

The numbers will be low until we do a backfill.

[2020-06-26 11:38] guptaad commented on #54
With the coils showing up in the delta tables. closing this issue.

[2020-06-26 12:46] amitdingareNovelis commented on #54
@guptaad As a practice, only the person who opened the issue should be allowed to close it as the person can confirm whether the issue is really fixed or not.

In this case, for CM72, the last day of data in the data lake is 05/22 i.e. more than a month old. See below.

![image](https://user-images.githubusercontent.com/4303278/85858341-79cb7180-b789-11ea-8de4-8fd6ba55a963.png)

Also, for CM88, th

[2020-06-26 12:50] amitdingareNovelis commented on #55
Yes, the issue is with CM88.

![image](https://user-images.githubusercontent.com/4303278/85858757-260d5800-b78a-11ea-81fc-073ac0267792.png)

[2020-06-26 13:04] zennet-novelis commented on #54
@KrishnaMaddipati
Can you update the delta lake with the latest sources?

[2020-06-26 14:27] guptaad commented on #65
@RyanNovelis I will need to understand this a little better. I discussed a little with Amit, but I am looking to understand the formula for actual_pos and how is it different (or differently used) compared to ActualLength.

[2020-06-26 14:30] guptaad commented on #64
@agrawalch Can you please explain the formula for totalLength.  I am not sure if this is a bug.

[2020-06-26 14:32] guptaad commented on #63
Are you looking at the Pinda data?
Some of the data is expected to have null values. It depends on the coil loaded in the mill or not.

[2020-06-26 14:41] RyanNovelis commented on #65
@guptaad per conversations with @agrawalch and Felipe Rocha there are instances where eg_LengthIndex repeats due to rounding in the dat to parquet conversion. So I was told by Felipe that we could multiply eg_RelativeLength with eRg_TotalLength to get the actual position of the coil.

actual_pos = eg_RelativeLength * eRg_TotalLength

example of the rational below:
![2020_03_10_16_13_41_delta_testi

[2020-06-26 15:34] zennet-novelis commented on #62
Raimund and I spent 90 minutes looking at this and testing combinations of PDOs and Dat files for CM88.

It looks like there are three distinct bugs causing this issue:
1. Calculation discard was never implemented in raw to parquet length PDO
2. Zip Shear In Solenoid signal is not recorded properly in many files tested
3. Discard signal calculation is high than the coil length in CM72 PDO

filenam

[2020-06-26 15:48] zennet-novelis commented on #62
I sent Manko our results and he can work on fixing number 1. from above.

[2020-06-27 12:54] nahoxie opened #66 "Change to Power BI Data Inventory report"
Add Oswego plant to data inventory detail tab.  Currently there are only Pinda and YJ.

https://app.powerbi.com/groups/me/apps/088c1570-b79c-4f1f-bad7-7bb8a0dfed32/reports/627ecebe-4475-4eec-9433-144561314c6e/ReportSection7a4c3061331850b33ca7

[2020-06-27 16:59] hebernogueira opened #67 "cg_Gen_Coilid wrong in some Pinda HFM parquets"
Hello,

As found already other cases, some parquets have cg_Gen_Coilid not correct.
Roberto Q. and Chirag worked on that, but it seems to keep having the same issue.
Need some investigation about the source of the problem. Please, check screenshot attached.
For now, I am using code workaround but might be affecting others.

Thanks you very much.
Heber

![2020-06-27 13_55_58-Window](https://user-im

[2020-06-27 17:16] hebernogueira opened #68 "cg_Gen_Alloy 518213 instead of 5182M Pinda's HFM files"
Hi,

We are getting alloy equals to 518213 in some coils but this is an invalid alloy. The correct should be 5182M.
Maybe there is a correct field on the raw data which could be used as correct address for cg_Gen_Coilid.
Is it possible to evaluate the signal cg_Gen_Alloy?
Thanks,

Heber

![cg_gen_alloy Pinda](https://user-images.githubusercontent.com/61158959/85928048-82eb3a00-b880-11ea-9ac8-8ae32

[2020-06-29 13:20] agrawalch opened #69 "coil_id mismatch - pinda HFM data"
@hebernogueira @guptaad

The issue is that the coil_id=11638 value of 11719 in the coil_id column. The right value is 11638, but we see 11719 in the column cg_Gen_CoilId.

[2020-06-29 13:47] hebernogueira commented on #69
Same as issue #67

[2020-06-29 14:48] guptaad commented on #69
This is duplicate of #67. So closing this.

[2020-06-29 14:48] #69 closed

[2020-06-29 19:25] WilberDelbrison opened #70 "Data missing from Remelt (compared with PI)"
I got with Rodrigo a list with all Batch_id produced at Pinda in 2019/2020, so I summarized by caster, year, and month to compare with the number of batches we have in Databricks. We have missing batches in almost all months:
Line D:
![image](https://user-images.githubusercontent.com/58709749/86046837-4d7f5180-ba24-11ea-94f6-aa75e22d9376.png)
Line C:
![image](https://user-images.githubusercontent.

[2020-06-29 19:55] guptaad commented on #67
Based on earlier emails, I think the operator at the machine center may mis-key the coil_id. In such cases, we get bad data from the source and this needs to be part of the Level2 Data Validation checks.

@agrawalch - use the coilID from file name and compare that to the dat content. If they do not match then reject the coil. - Level 1 data validation rule.

[2020-06-29 21:13] hebernogueira commented on #67
Hi @guptaad ,
according to Roberto the moment we are registering the cg_Gen_Coilid is affecting that. In the actual pdo, we look after the end of load in Stand F4 (exactly 15seconds) but the next coil is already on the entry shear (and this is the trigger to start recording new coil on IbaCoordinator).
The operator has no option to enter or type in the coil id by mistaken. When we look the raw fil

[2020-06-29 22:33] guptaad commented on #68
Changing the priority to give higher precedence to the Sync_Len for PInda, Oswego and YJ.

[2020-06-29 23:20] guptaad commented on #67
@hebernogueira - the mis-key comment was captured based on the CM data; and it is possible that it is not happening in HFM.
Chirag has the list of priorities not and he will have this work cut for him during the next week.

[2020-06-30 11:39] guptaad commented on #62
Update: Raimund is following up with Roberto and Felipe - there seems to be a rule issue, which needs to be updated.

[2020-06-30 14:42] amitdingareNovelis commented on #37
@guptaad any update on this?

[2020-06-30 15:14] hebernogueira commented on #67
Chirag replaced the pdo file from Roberto in the VM.

[2020-06-30 15:14] #67 closed

[2020-06-30 15:56] amitdingareNovelis commented on #34
@agrawalch so, what is the recommendation for joining time based data? We know that time based data has far more signals than the length based data. So, if we need to join those signals for a cross section of the coil between HFM and CM Finishing Pass, how can we do so?

[2020-06-30 16:03] amitdingareNovelis commented on #65
@guptaad @agrawalch any update on this? I want Ryan to run aggregations for Pinda just so we can have that data ready for the hands-on training. Appreciate if you could look into this.

[2020-06-30 16:04] amitdingareNovelis commented on #63
@zhiyu-novelis are we good to close this?

[2020-06-30 16:53] zhiyu-novelis commented on #63
@guptaad Yes, got it. Just wanted to bring this to your attention in case anything needs to be done.
@amitdingareNovelis Yep, good to close now.

[2020-06-30 17:01] amitdingareNovelis opened #71 "YJ CM data for April 2020 is not available"
As per the digest sent out last Friday, Yeongju CM data for April is marked as complete. However, we do not find April 2020 data in the delta lake.
![Digest0626](https://user-images.githubusercontent.com/4303278/86154911-b1ac1f00-bad1-11ea-9c40-4084e1595bf3.jpg)

![image](https://user-images.githubusercontent.com/4303278/86154705-6c87ed00-bad1-11ea-8c24-8eb598e8de0b.png)

[2020-06-30 17:02] amitdingareNovelis commented on #63
Closing.

[2020-06-30 17:02] #63 closed

[2020-06-30 17:09] amitdingareNovelis opened #72 "Yeongju Sync Length for CM is not populated."
None of the coils for YJ have sync length populated. We are planning to have a demo to YJ using EagleViz for which we will need this.

[2020-06-30 17:15] amitdingareNovelis commented on #52
@guptaad any timeline on when this issue will be fixed? The issue is also there for the month of June.

[2020-06-30 17:54] amitdingareNovelis opened #73 "Exact same coil id appears in CM2 and CM3 for Yeongju"
![image](https://user-images.githubusercontent.com/4303278/86160020-2df63080-bad9-11ea-8c8a-a55a3e0ab05a.png)

[2020-06-30 17:55] amitdingareNovelis opened #74 "Yeongju _time tables are not available."

[2020-06-30 18:04] amitdingareNovelis opened #75 "For Yeongju, many coils exist in CM2 or CM3, but not in HFM. Does YJ CM get coils from other plants?"
![image](https://user-images.githubusercontent.com/4303278/86160973-8f6acf00-bada-11ea-927e-39610ae2c15e.png)

[2020-06-30 18:23] amitdingareNovelis opened #76 "For Yeongju, many coils exist in HFM, but not in HRM"
![image](https://user-images.githubusercontent.com/4303278/86162714-3d777880-badd-11ea-874a-3f1a87ceb21f.png)

[2020-07-01 05:30] KrishnaMaddipati commented on #55
@zennet-novelis None of the CM88 newly uploaded files (on and after 29th June, 2020) have cg_Gen_PassNumber signal.

![image](https://user-images.githubusercontent.com/62263802/86206340-25821200-bb3a-11ea-81b1-58d9fd03b35b.png)

[2020-07-01 05:43] KrishnaMaddipati commented on #46
@amitdingareNovelis @guptaad  all the metal codes for OSW machine centers were updated and the new metal_code logic was implemented in production.

![image](https://user-images.githubusercontent.com/62263802/86207223-0b493380-bb3c-11ea-90b3-fa03b545628c.png)

![image](https://user-images.githubusercontent.com/62263802/86207251-1e5c0380-bb3c-11ea-8186-37de4e2afb0b.png)

![image](https://user-images

[2020-07-01 10:49] changhyucklee commented on #52
For CM3, I have updated pass number.
I will commented again when I complete to update pass number for the CM2.

[2020-07-01 11:19] guptaad commented on #75
@amitdingareNovelis YJ does not get coils from other plants.

@changhyucklee I just checked and the data for CM only goes to the middle of Jun. Please check.

[2020-07-01 11:31] guptaad commented on #73
@amitdingareNovelis can you please elaborate a bit? Did you mean that the metal_code is different for the same coil ID in YJ?

[2020-07-01 11:43] guptaad commented on #60
This is done.
@amitdingareNovelis , @guptaad  and @khancynthia28 to test this data now.

[2020-07-01 11:48] guptaad commented on #54
@khancynthia28 to test.

[2020-07-01 11:51] guptaad commented on #51
@khancynthia28 to test

[2020-07-01 11:51] guptaad commented on #46
@khancynthia28 to test

[2020-07-01 11:52] guptaad commented on #22
@khancynthia28 to test.

[2020-07-01 12:55] amitdingareNovelis commented on #73
Sorry! I should have been more clear. The first two columns belong to CM2 and next two to CM3. The metal code for CM2 is null and metal code for CM3 is populated. The coil ids are the same. In which case, will the coil id between CM2 and CM3 be the same?

[2020-07-01 13:28] guptaad commented on #71
@khancynthia28 @changhyucklee - as discussed today, please ensure that the data pipeline is actually finished before marking the completion. There are missing pieces in YJ data at this time.

[2020-07-01 17:03] guptaad commented on #73
Got it!  Thanks for explaining.
@KrishnaMaddipati Please take a look why the CM2 metal code is null in YJ data.

[2020-07-01 19:00] khancynthia28 commented on #54
![cm72](https://user-images.githubusercontent.com/34836475/86281479-97df0a80-bbab-11ea-93af-d95379123b08.PNG)

[2020-07-01 19:01] khancynthia28 commented on #54
![image](https://user-images.githubusercontent.com/34836475/86281581-c78e1280-bbab-11ea-957e-83eea6a7f127.png)

[2020-07-01 19:04] khancynthia28 commented on #54
We now have data till end of June in Delta tables for both CM72 and CM88. This issue can now be closed.

[2020-07-01 19:04] #54 closed

[2020-07-02 00:14] amitdingareNovelis commented on #54
Confirmed. One question: CM72 goes only until 06/29 while CM88 goes till 06/30. Any reason for that?

[2020-07-02 00:23] amitdingareNovelis opened #77 "Oswego CM is missing several days of data. Is that because the CM was down on those days?"
For CM72
For June,
1. First 9 days, and from 26th to 28th of June data is missing.
2. The numbers look suspiciously low.

![image](https://user-images.githubusercontent.com/4303278/86303078-b4456c00-bbd8-11ea-9bf4-624395b815ed.png)

For May,
![image](https://user-images.githubusercontent.com/4303278/86303201-21f19800-bbd9-11ea-81c5-7254cb5cb159.png)

For CM88
For June,
1. numbers look lower toward

[2020-07-02 00:50] amitdingareNovelis opened #78 "Pinda CM June numbers for certain days look suspiciously low. Please evaluate."
![image](https://user-images.githubusercontent.com/4303278/86304259-5e72c300-bbdc-11ea-903a-f1b3e0ffe9e0.png)

[2020-07-02 02:39] khancynthia28 commented on #46
@amitdingareNovelis - Issue seems to have been resolved. Please see test results below:
![image](https://user-images.githubusercontent.com/34836475/86310303-b664f600-bbeb-11ea-91c2-044bbcb1f3ed.png)

Please close if the results are confirmed.

[2020-07-02 02:42] khancynthia28 commented on #60
@amitdingareNovelis  Please see test results --
![image](https://user-images.githubusercontent.com/34836475/86310446-1a87ba00-bbec-11ea-9eae-51eb9567fd53.png)

Please close if results are confirmed.

[2020-07-02 02:55] khancynthia28 commented on #51
@agrawalch The issue seems to be resolved for HRM, CM2 and CM3 but still not resolved for HFM --
![image](https://user-images.githubusercontent.com/34836475/86311248-f0cf9280-bbed-11ea-80dc-85a88d0420a1.png)

[2020-07-02 02:57] khancynthia28 commented on #77
@zennet-novelis

[2020-07-02 02:59] khancynthia28 commented on #78
@KrishnaMaddipati

[2020-07-02 03:13] zennet-novelis commented on #77
CM72 had an outage between May 22 and June 10 where data was lost on the L2 file system.

The count of 1 on 2002-06-22 looks very suspicious. We had some problems between June 10 and June 22. I see 30 raw files in adls. I'll check that the June backfill was uploaded, then we can reload the delta tables. And check with what's in MIS and AGW.

[2020-07-02 08:49] RaimundNovelis commented on #62
After our 1 1/2 hour meeting with Felipe to solve the problem for CM88 we were not able to finish it and we came to the decission, that we really need a process which describes the handling of the global catalogs and resulting PDOs. Most of the things really went wrong in the past. Macros were only locally changed in the pdo but not on a global level. Signal changes and additions were only made in

[2020-07-02 11:36] KrishnaMaddipati commented on #51
HFM metal code problem was resolved.
![image](https://user-images.githubusercontent.com/62263802/86354250-af170a00-bc36-11ea-95fa-9a8eaa7ac283.png)

[2020-07-02 11:44] guptaad commented on #72
Chirag finishing the Oswego first and then populated this for YJ.
ETA : Tuesday (7/7)

[2020-07-02 12:01] guptaad commented on #62
@khancynthia28 please test the #1 - Calculation discard was never implemented in raw to parquet length PDO

[2020-07-02 12:10] hebernogueira opened #79 "Files from HFM not avaiable in cloud (01 and 02 July)"
Hello  @guptaad

Some files from the 1st and 2nd July are not in cloud. And some seems to be bad files.
@agrawalch did work on the pipeline yesterday but HFM was not running.
After HFM restart, the issue was noticed.

Thanks,

Heber

![2020-07-01 20_07_29-Ephemeral Notebook Job (Run id_ 412196) - Databricks](https://user-images.githubusercontent.com/61158959/86356347-7846f100-bc42-11ea-938e-2a5f6b

[2020-07-02 12:17] changhyucklee commented on #76
@amitdingareNovelis Could you let me know your query statement?
I can find that upper coilid (which screen captured)  from opsentprodg2.yej_hrm table as below
%sql
select distinct year, month, day,cg_gen_coilid
from opsentprodg2.yej_hrm
where cg_gen_coilid in (
'S401888',
'S406805',
'S407523',
'S408738',
'S408793',
'S411171',
'S411861',
'S414476'
)
![image](https://user-images.githubusercontent.co

[2020-07-02 13:10] zennet-novelis opened #80 "eRg_EntryTailDiscard missing from CM72 parquet length PDO"
Splitting issue for CM72 from #62

[2020-07-02 13:12] zennet-novelis opened #81 "Is Zip Shear in Solenoid signal missing from CM88 IBA Dat where it should be present?"

[2020-07-02 13:14] zennet-novelis commented on #62
Created #80 and #81 to resolve 2. and 3. from above.

[2020-07-02 13:14] zennet-novelis commented on #81
Split off from #62

[2020-07-02 14:07] amitdingareNovelis commented on #76
@changhyucklee, I pasted a wrong screenshot by mistake. Here is the correct one

![image](https://user-images.githubusercontent.com/4303278/86368876-ba286500-bc4b-11ea-9b74-7a5c412cb7c0.png)

Also, here is my query.

(select tb1.cg_Gen_Coilid
from
(select distinct cg_Gen_Coilid
from
opsentprodg2.yej_hrm
where
year= '2020') tb1
left outer join
(select distinct cg_Gen_Coilid
from
opsentprodg2.yej_hf

[2020-07-06 14:07] agrawalch opened #82 "YEJ - HRM and HFM - EntryRolledLength and ExitRolledLength values are wrong"
1) HRM: ExitRolledLength  values too high, correct values should be in the range of 100s, we see values in 16Ks range. (Red boxes in the screen shot below)
2) HFM: EntryRolledLength and ExitRolledLength looks wrong. (Green boxes in the screen shot below).
    2.1) Entry length should be around 100, we see entry lengths in 5Ks.
    2.2) Exit length should be higher than entry length, we see reverse

[2020-07-06 19:07] amitdingareNovelis commented on #37
Depends on the actual length. This is valid.

[2020-07-06 19:07] #37 closed

[2020-07-06 19:35] zennet-novelis commented on #55
For CM88 pass number appears only between June 7 and June 22. Not before or after. And we don't see both pass number and pass number is NULL during the same day. (Mostly a note to myself and Raimund)

[2020-07-06 21:06] agrawalch opened #83 "Oswego-CM88 - ExitRolledLength values are smaller than EntryRolledLength"
%sql
select cg_Gen_coilid, eRg_EntryRolledLength, eRg_ExitRolledLength
from opsentprodg2.osw_cm2_cm88
--where cg_Gen_coilid in ('0313810', '0314822', '0313848', '0307013')
group by cg_Gen_coilid, eRg_EntryRolledLength, eRg_ExitRolledLength

![image](https://user-images.githubusercontent.com/53792688/86643828-03114e00-bfab-11ea-8535-9f4d2a193e98.png)

[2020-07-06 21:42] zennet-novelis commented on #83
Superficially, it looks like eRg_EntryRolledLength has an "Off By 10X" error. Hopefully we can remove the offending zero to fix this.

[2020-07-06 22:14] amitdingareNovelis commented on #1
@agrawalch I looked at it again and many coils are still missing. For example

![image](https://user-images.githubusercontent.com/4303278/86655109-77042400-bfb4-11ea-8763-c26ce0e73de6.png)

Here are some additional

![image](https://user-images.githubusercontent.com/4303278/86655218-8d11e480-bfb4-11ea-8568-d70a08d4cc03.png)

[2020-07-06 22:54] amitdingareNovelis commented on #65
@agrawalch per our discussion, I looked into it and there are many coils with this issue. Here is an example.

![image](https://user-images.githubusercontent.com/4303278/86661650-ecbebe80-bfb9-11ea-86d6-b1a52f637f5b.png)

Here is the query to get the numbers

![image](https://user-images.githubusercontent.com/4303278/86661753-06f89c80-bfba-11ea-81a3-06696fd7041b.png)

@guptaad could we change the

[2020-07-06 22:55] amitdingareNovelis commented on #1
@guptaad could we change the priority of this to 2?

[2020-07-07 11:13] changhyucklee commented on #82
I have discussed this with YeongJu automation engineer. He just know about address of signals and don't know how those expression has consisted. So I send to email to Roberto and Felipe to check this issue.

[2020-07-07 11:15] changhyucklee commented on #76
I found that some of coils didn't uploaded to ADLS. I have re-check inventory and re-processing coil data which was not uploaded.

[2020-07-07 11:15] changhyucklee commented on #75
I found that some of coils didn't uploaded to ADLS. I have re-check inventory and re-processing coil data which was not uploaded.

[2020-07-07 11:24] khancynthia28 commented on #70
![MicrosoftTeams-image](https://user-images.githubusercontent.com/34836475/86772928-f16b8d00-c022-11ea-9645-65a30961e235.png)

[2020-07-07 11:27] khancynthia28 commented on #70
LineD now has over 90% of the total expected batches for the months in 2020. The diff of 9 batches per month is due to NDB missing out on the last day's data (schedule of 01/01/2020 - 01/31/2020 doesn't include 01/31).

Currently working on fixing the data gaps for LineB and LineC along with the last day of the month for LineD.

[2020-07-07 13:12] guptaad commented on #1
@amitdingareNovelis let me check on the workload. Given time data was not put in our scope, I did not assign this a priority. We can discuss and finalize where Time data stands within the list of priorities and current workload.

[2020-07-07 13:23] amitdingareNovelis commented on #1
@guptaad  I recommend that we priortize _time data right after Oswego length is done. A lot of the analyses Roberto asked us to do requires this data.

[2020-07-07 13:30] guptaad commented on #65
@amitdingareNovelis can we discuss this as well? This data come as-is from IBA systems so I need to understand what can we change here.

[2020-07-07 13:33] amitdingareNovelis commented on #65
I talked to @agrawalch yesterday. He was expecting this to happen for a few coils only, but as you can see, it is happening for a lot of coils. How can you have multiple rows for the relative length?

[2020-07-07 15:24] amitdingareNovelis opened #84 "Many coils for Pinda CM from April onwards do not have metal code populated."
![image](https://user-images.githubusercontent.com/4303278/86803786-4d92d900-c044-11ea-9a91-e2c37bfbdd38.png)

712 coils to be precise.

@RyanNovelis you may need to rerun aggregations for these coils once the issue is fixed.

[2020-07-07 15:30] amitdingareNovelis opened #85 "2000+ coils in the _time tables for Pinda from April onwards do not have metal code populated."
![image](https://user-images.githubusercontent.com/4303278/86804810-428c7880-c045-11ea-9eef-805bbadb95ed.png)

[2020-07-07 15:31] amitdingareNovelis commented on #84
Adding @ethanchaNovelis for awareness.

[2020-07-07 15:33] amitdingareNovelis commented on #84
Getting this fixed is important to us.

[2020-07-07 15:33] amitdingareNovelis commented on #85
Getting this fixed is important to us.

[2020-07-07 15:34] guptaad commented on #84
@agrawalch @KrishnaMaddipati Please take a look at this.

[2020-07-07 15:50] agrawalch commented on #72
@changhyucklee @guptaad  @khancynthia28 @amitdingareNovelis

Sync length code is complete for both OSW and YEJ.

For YEJ: The entry and exit rolled length values require fix in the PDO for HRM, HFM and CM2.
![image](https://user-images.githubusercontent.com/53792688/86806587-01956380-c047-11ea-90be-4cb857fcbb4a.png)

A separate git-issue is opened for it and assigned to ChangHyuck.

sync_length va

[2020-07-07 16:01] amitdingareNovelis opened #86 "Pass numbers for Pinda don't look right"

[2020-07-07 16:07] amitdingareNovelis commented on #86
![image](https://user-images.githubusercontent.com/4303278/86809284-b7fa4800-c049-11ea-851c-832943c8742f.png)

[2020-07-07 16:11] amitdingareNovelis opened #87 "Many different pass numbers exist for Pinda. Are these all valid?"
In the past, when we saw this, we were told that these pass numbers would be unified. Is that still applicable?

1 | CM3
10 | CM1
12 | CM1
13.595 | CM3
20 | CM1
25 | CM1
30 | CM1
40 | CM1
40 | CM2
50 | CM2
50 | CM1
60 | CM2
60 | CM1
70 | CM2
70 | CM1
80 | CM1
80 | CM2
85 | CM2
86 | CM2
87 | CM2
90 | CM1
90 | CM2
95 | CM2
96 | CM2
100 | CM2
100 | CM1
110 | CM2
120 | CM2
120 | CM1
130 | CM1
130 | CM

[2020-07-07 16:14] amitdingareNovelis commented on #60
confirmed. Closing.

[2020-07-07 16:14] #60 closed

[2020-07-07 16:15] amitdingareNovelis commented on #78
Looked at this with Chirag. It appears that the coil count was what was produced. Closing.

[2020-07-07 16:15] #78 closed

[2020-07-07 16:18] amitdingareNovelis commented on #71
Latest digest corrected this. Closing.

[2020-07-07 16:18] #71 closed

[2020-07-07 16:28] amitdingareNovelis commented on #9
@guptaad could we priortize this? I am seeing that this issue is becoming more common now. One potential solution we discussed is getting the coil id from the file name and not from what is populated.

[2020-07-07 16:45] guptaad commented on #9
@amitdingareNovelis yes, we can and we need to reset some of the other priorities.
@agrawalch can you please take a look at this?

[2020-07-08 02:01] amitdingareNovelis commented on #72
@agrawalch does this mean we have Sync length available for Oswego? If so, this is a good news.

[2020-07-08 02:02] amitdingareNovelis commented on #86
@guptaad can we priortize this as well?

[2020-07-08 12:34] agrawalch commented on #72
@amitdingareNovelis
Yes, sync length is available for Oswego. Please use sync length present only for HRM and HFM machine centers. For CM, we have seen that rolled-lengths are not correct.

![image](https://user-images.githubusercontent.com/53792688/86919177-d3bb2800-c0f5-11ea-9424-d904f410292a.png)

[2020-07-08 12:44] khancynthia28 commented on #70
![image](https://user-images.githubusercontent.com/34836475/86920132-424cb580-c0f7-11ea-9ac2-b74fedf6f334.png)

[2020-07-08 13:04] agrawalch commented on #79
The pipeline is fixed and working. The data is present as of today. I am still observing the pipeline for 1 more week to make sure that everything is working as expected.

[2020-07-08 13:52] guptaad commented on #87
@agrawalch this is the process sequence; we discussed to have the pass# in the data file.
Also, the 13.595 is back.

[2020-07-08 13:53] guptaad commented on #86
#87 and this can be handled as the same issue.

[2020-07-09 13:58] RyanNovelis opened #88 "Oswego PI System_Gen_Alloy_dg and master_batch_id"
question

Looking through the Osw PI data for melter, holder, and caster I came across values such as No Data, Unknown, Scan Timeout. These values are then translated to the master_batch_id.

![image](https://user-images.githubusercontent.com/58708978/87048852-3f6ec500-c1ca-11ea-8f85-5c6605e4465f.png)
![image](https://user-images.githubusercontent.com/58708978/87049012-6f1dcd00-c1ca-11ea-8263-0b06

[2020-07-09 18:20] RyanNovelis opened #89 "Pinda sync length nan values"
I was working on filtering pinda coils by max sync length > 0 and min sync length > 0 per the suggestion of @agrawalch. I found numerous instances where min sync length was correct but max sync length was NaN. Please see below.

![image](https://user-images.githubusercontent.com/58708978/87076002-26c4d600-c1ef-11ea-9d5e-48e37973268d.png)
![image](https://user-images.githubusercontent.com/58708978/

[2020-07-09 19:25] agrawalch commented on #89
@RyanNovelis
I think the max function doesn't eliminate NaNs, see image below. I checked on some coil_ids from HFM.
![image](https://user-images.githubusercontent.com/53792688/87082032-59270100-c1f8-11ea-83e0-410a21eae97c.png)

[2020-07-09 19:31] RyanNovelis commented on #89
@agrawalch why are NaN values showing up in calculated sync length column, and would you suggest us drop the rows in which they show up as seen in the example given?

[2020-07-09 20:19] zennet-novelis commented on #81
There are indeed raw files that are missing the signal that I expect should have them.

I reached out to Spencer to ask for clarification on whether this is missing and should not be, and if so, what we can do about it.

[2020-07-09 20:21] zennet-novelis commented on #62
The expression for eRg_EntryTailDiscard is in the parquet length pdo. I ran it for July 1 to July 8 data. Next step is to see whether this unblocks loading into the delta lake.

And the related issue #81 turns out to be true, also. It looks like there are dat files that are missing this signal where the shouldn't be. We will track that issue separately and this one can be resolved.

[2020-07-09 20:29] zennet-novelis commented on #77
For CM72 June 22, I can see 28 coil - pass combinations in ADLS. This appears related to issues around loading into the delta tables. Assigning @KrishnaMaddipati.

[2020-07-09 20:30] zennet-novelis commented on #77
@amitdingareNovelis CM88 and CM72 were down on June 27, 28 and June 26, 27, 28 and produced zero coils.

[2020-07-09 20:33] khancynthia28 commented on #70
![image](https://user-images.githubusercontent.com/34836475/87087948-f89cc180-c201-11ea-8295-29d59d5f10ad.png)

[2020-07-09 21:03] agrawalch commented on #89
@RyanNovelis
I think this is shown because there are NaNs in Length or ReverseLength index values. We use those index to calculate sync_length. The right approach would be to drop NaNs and then use sync_length.

[2020-07-09 21:05] RyanNovelis commented on #89
@agrawalch Understood, thank you for let me know. I will follow that approach.

[2020-07-09 21:30] amitdingareNovelis commented on #89
@RyanNovelis Let us know if it's okay to close this.

[2020-07-09 23:06] khancynthia28 commented on #88
@RyanNovelis As discussed earlier today, the master_batch_id is dependent on the batch_id and has no bearing on Alloy. However, since PI produces time series data, during times when there are no batches in production the signals may be assigned values such as NoData etc. As such, it is best to drop the unexpected values from master_batch_id and Alloy columns and then perform data processing on tho

[2020-07-10 11:58] khancynthia28 commented on #84
@amitdingareNovelis This seems to have been resolved. Can we close?

[2020-07-10 12:08] RyanNovelis commented on #89
@amitdingareNovelis and @agrawalch Yes I will close this.

[2020-07-10 12:09] RyanNovelis commented on #88
@khancynthia28 Yes this does. Thank you and I will proceed accordingly.

[2020-07-10 12:09] #88 closed

[2020-07-10 12:34] khancynthia28 commented on #84
![image](https://user-images.githubusercontent.com/34836475/87155027-3c3a0e80-c288-11ea-8fa9-5fa4eb00e134.png)

[2020-07-10 12:37] khancynthia28 commented on #56
@amitdingareNovelis @KrishnaMaddipati @zennet-novelis - Now that the metal code is populated is this issue still valid?

[2020-07-10 12:39] khancynthia28 commented on #62
@zennet-novelis @KrishnaMaddipati Can we close this issue?

[2020-07-10 12:40] khancynthia28 commented on #51
@amitdingareNovelis  Can we close this?

[2020-07-10 12:42] khancynthia28 commented on #22
@agrawalch Can we close?

[2020-07-10 12:57] agrawalch commented on #22
@khancynthia28
yes

[2020-07-10 14:06] khancynthia28 commented on #66
@nahoxie Data for Oswego is now available in the Inventory Dashboard. Can we close this one?

[2020-07-10 14:10] khancynthia28 commented on #7
@amitdingareNovelis Closing this one and opening a new one stating issue as Alloy Code missing for YeongJu Remelt

[2020-07-10 14:10] #7 closed

[2020-07-10 14:11] khancynthia28 opened #90 "Alloy Code missing from Yeong Ju Remelt data"
PI data doesn't have a tag for Alloy built in. Will have to incorporate the info from MES.

[2020-07-10 14:15] khancynthia28 commented on #30
@amitdingareNovelis Can we close this one?

[2020-07-10 14:22] khancynthia28 commented on #73
@amitdingareNovelis @KrishnaMaddipati Has this been resolved since the Metal Code update?

[2020-07-10 14:28] khancynthia28 commented on #50
@ethanchaNovelis Can you please test now. Thanks.

[2020-07-10 14:31] #22 closed

[2020-07-10 14:39] ethanchaNovelis commented on #50
Thanks, Cynthia.
![image](https://user-images.githubusercontent.com/60716978/87166388-811a7100-c299-11ea-9f71-e5848eaa542e.png)

But still gives me a duplicate Batch_ID and master_batch_id

[2020-07-11 23:09] amitdingareNovelis commented on #73
@KrishnaMaddipati or @agrawalch can you answer?

[2020-07-11 23:10] amitdingareNovelis commented on #30
Yes. Closing.

[2020-07-11 23:10] #30 closed

[2020-07-11 23:11] amitdingareNovelis commented on #84
Closing.

[2020-07-11 23:17] #84 closed

[2020-07-12 02:55] khancynthia28 commented on #50
@ethanchaNovelis Please remove month and day from the group by clause as that might cause multiple entries for the same batch id in the case when a batch's records span over multiple days.

![image](https://user-images.githubusercontent.com/34836475/87237882-90004100-c3c9-11ea-8a72-f577dc1cfd65.png)

[2020-07-12 02:58] khancynthia28 commented on #50
@ethanchaNovelis A record in the PI tables will be considered duplicate when the same Timestamp occurs for the same batch or same machine. By that definition it seems there are no duplicate records in the melter, holder and caster tables. Can we close this?

[2020-07-13 04:51] KrishnaMaddipati commented on #73
@amitdingareNovelis @khancynthia28 This was resolved with the new metal code update. There are no coils for YeongJu with  default or null metal code values.

![image](https://user-images.githubusercontent.com/62263802/87271791-4e8f9480-c4a2-11ea-87e0-12d704ec8a8c.png)

[2020-07-13 11:49] amitdingareNovelis commented on #55
Any update on this?

[2020-07-13 12:23] zennet-novelis commented on #55
@amitdingareNovelis Would you mind changing CM in the title to CM88?

[2020-07-13 13:54] amitdingareNovelis commented on #55
done.

[2020-07-13 13:59] amitdingareNovelis commented on #86
The issue is still open.

[2020-07-13 14:16] amitdingareNovelis commented on #89
Sorry.. I should have validated this before. @agrawalch I am seeing NaNs in Sync Length. I understood that you wanted us to drop sync length = NaNs, but then the question is why don't you drop those yourselves? What is the point of keeping NaNs in the data when there isn't any value from it?

[2020-07-13 18:45] guptaad commented on #89
@agrawalch to understand the source of NaNs; possibly remove the NaNs depending on the data points.

[2020-07-13 19:28] agrawalch commented on #87
CM3 decimal point pass_number is resolved.

For CM1 and CM2, we need additional column - PASS_NUMBER, from MES data.
I have opened a request in SNOW to add PASS_NUMBER in the MES data we receive for Pinda, Once we have this additional columns, we should be able to replace the many passes with sequence starting with 1 such as (1, 2, 3, 4 etc).

![image](https://user-images.githubusercontent.com/537

[2020-07-13 19:34] agrawalch commented on #86
CM3 decimal point pass_number is resolved.

For CM1 and CM2, we need additional column - PASS_NUMBER, from MES data.
I have opened a request in SNOW to add PASS_NUMBER in the MES data we receive for Pinda, Once we have this additional columns, we should be able to replace the many passes with sequence starting with 1 such as (1, 2, 3, 4 etc).

![image](https://user-images.githubusercontent.com/537

[2020-07-13 19:36] agrawalch commented on #79
@hebernogueira
Can you please confirm that pipeline is running well now and if that is the case then please close this issue.

[2020-07-14 11:38] hebernogueira commented on #79
@agrawalch pipeline seems more stable now.
Thank you

[2020-07-14 11:38] #79 closed

[2020-07-14 12:10] BrentR2020 commented on #86
REFER TO DUPLICATE IN ISSUE #87

[2020-07-14 12:10] #86 closed

[2020-07-14 17:27] zennet-novelis commented on #77
@amitdingareNovelis There are three causes of this variation
1. Data available on ADLS but cannot load to enterprise zone because of missing fields like Entry Discard
2. Data on AGW that never made it to parquet in ADLS
3. Actual variation in coil output

We are working on correcting 1 and 2.
Here's a view into variation for the month of May based on files arriving to AGW.

[code]

[2020-07-14 17:30] zennet-novelis commented on #77
@amitdingareNovelis Closing this question as resolved. Please reopen if you have additional concerns. Work to resolve the 1 and 2 will be done on #53

[2020-07-14 17:31] #77 closed

[2020-07-15 09:21] KrishnaMaddipati commented on #85
@amitdingareNovelis  All the metal codes for pinda 2020 time data was updated. Please verify and close the ticket.

![image](https://user-images.githubusercontent.com/62263802/87528027-f6e85900-c65a-11ea-8551-3428c3eb18f6.png)

[2020-07-15 16:49] khancynthia28 commented on #51
![image](https://user-images.githubusercontent.com/34836475/87572435-844a9e00-c699-11ea-916e-f829c1dcb370.png)

@amitdingareNovelis @guptaad @BrentR2020 @KrishnaMaddipati  - The issue seems to be now resolved. I'm closing the ticket. Please reopen if needed.

[2020-07-15 16:50] #51 closed

[2020-07-15 16:51] khancynthia28 commented on #46
![image](https://user-images.githubusercontent.com/34836475/87572639-da1f4600-c699-11ea-9459-ec2d54718009.png)

@amitdingareNovelis @guptaad @BrentR2020 @KrishnaMaddipati - This seems to now be resolved. I'm closing this ticket. Please reopen if needed. Thanks.

[2020-07-15 16:52] #46 closed

[2020-07-15 17:03] khancynthia28 commented on #62
@zennet-novelis @guptaad
![image](https://user-images.githubusercontent.com/34836475/87573706-536b6880-c69b-11ea-8288-e22675d47bb8.png)

A large number of records from Jun and May still has the Entry Tail value as null. July doesn't seem to have the issue. Is this a WIP then or should we close?

[2020-07-16 04:58] khancynthia28 commented on #70
![image](https://user-images.githubusercontent.com/34836475/87628608-5b5cf400-c6ff-11ea-920a-db04abc9a092.png)

Batch count from LineA_DC_A

[2020-07-16 05:00] khancynthia28 commented on #70
@WilberDelbrison We have now been able to restore atleast 90% of the batches compared to the data provided by Rodrigo. The only exception is Line A_DC_A, which per Rodrigo's spreadsheet should have 37 batches in May 2020 but per the account from delta table has only 3 batches for that month. Upon taking a closer look at the data provided by Rodrigo this is what I found:

[2020-07-16 05:01] khancynthia28 commented on #70
![image](https://user-images.githubusercontent.com/34836475/87628880-e5a55800-c6ff-11ea-8048-ba843a98387f.png)

[2020-07-16 05:09] khancynthia28 commented on #70
These are all the batches along with timestamps recorded from Line A_DC_A by PI DataLink directly. This shows that there are 37 rows in May but only 3 unique batch id values - 45233/36, 45237/40 and I/O Timeout/I/O Timeout. This confirms both Rodrigo's data (37) and the data in the Delta table (3).

And by the same reasoning I believe we can prove that the difference of batches between Rodrigo's d

[2020-07-16 12:11] #50 closed

[2020-07-16 12:11] BrentR2020 commented on #50
resolved

[2020-07-16 12:38] hebernogueira commented on #68
Hi, there is an info field on raw files which could be evaluated wether it is suitable or not.
Below an screenshot.

![image](https://user-images.githubusercontent.com/61158959/87671664-190bd500-c748-11ea-9755-54569b33c734.png)

[2020-07-16 15:30] hebernogueira opened #91 "Pinda HFM ADLS files found /not found"
Hello,

Facing an issue with HFM files which I could not figure out the reason.
The flow has a first notebook (hfm_automatic_run) which seek new coils in ADLS, fills a coil status table and finally triggers an notebook run of the coils with status pending on the table. This second notebook will evaluate the rules for each coil.
![image](https://user-images.githubusercontent.com/61158959/87689345-7

[2020-07-16 15:45] hebernogueira commented on #91
Another evidences:
Last coil in MASE: 50001
![image](https://user-images.githubusercontent.com/61158959/87692304-fa1a3c80-c761-11ea-8e4e-f6f8cd844f15.png)

Notebook found others:
![image](https://user-images.githubusercontent.com/61158959/87692408-1ae29200-c762-11ea-906d-986a2395e9f5.png)

AGW:
![image](https://user-images.githubusercontent.com/61158959/87692453-27ff8100-c762-11ea-8ffa-8a486d32d4f

[2020-07-16 19:55] zennet-novelis commented on #62
@khancynthia28
If you can validate it is fixed for July 1 to today, then we can close.
The issue is about fixing it, not applying the fix to all the historical data.

[2020-07-16 22:49] khancynthia28 commented on #62
@zennet-novelis In that case, as I have already mentioned, the issue doesn't seem to appear for July

![image](https://user-images.githubusercontent.com/34836475/87730161-04a1f980-c795-11ea-8d72-571d6148ebc1.png)

And since you are the originator of this ticket, I'll leave it to you to close it.

[2020-07-16 22:57] #62 closed

[2020-07-16 23:55] hebernogueira commented on #91
Providing more evidences:
![image](https://user-images.githubusercontent.com/61158959/87733618-af6ee380-c7a6-11ea-9414-20e8a825ff24.png)

[2020-07-17 00:18] khancynthia28 commented on #35
@amitdingareNovelis @guptaad Timestamp columns for all three plants have been converted to type timestamp. Closing this ticket. Please reopen if needed. Thanks!

[2020-07-17 00:18] #35 closed

[2020-07-17 12:54] hebernogueira commented on #91
Adding more curious info:
Note that coils which were uploaded after the 'batch' of 11 am were processed successfully in Databricks.
Unfortunatelly the query shows top 10 and where clause is not showing the last 3 coils which were uploaded. But is possible to see that two of them were processed successfully.

![image](https://user-images.githubusercontent.com/61158959/87787966-e7ac0b80-c812-11ea-93

[2020-07-17 16:00] khancynthia28 commented on #66
@nahoxie Closing this one. Please reopen if needed

[2020-07-17 16:00] #66 closed

[2020-07-17 16:23] RyanNovelis commented on #90
@khancynthia28 another part of the issue #7 that did not get carried over is that pba_holder does not have an alloy column as well.

![image](https://user-images.githubusercontent.com/58708978/87808799-5c3d7500-c828-11ea-9b12-1b1d31ce64a4.png)

[2020-07-17 16:53] amitdingareNovelis commented on #87
@RyanNovelis FYI. Are you seeing things differently?

[2020-07-17 17:15] RyanNovelis opened #92 "Alloy tag missing from Pinda Holder"
Pinda holder does not contain Alloy tag.

![image](https://user-images.githubusercontent.com/58708978/87813171-62831f80-c82f-11ea-9b46-55880d621af1.png)

[2020-07-17 17:26] RyanNovelis commented on #87
@amitdingareNovelis I am seeing what you saw with the exception of CM3 only containing PassNumber 1.

[2020-07-17 17:51] khancynthia28 commented on #7
@RyanNovelis Hi Ryan, it is usually the caster where you'd expect to find the Alloy samples taken and recorded. That information doesn't come from Melter or Holder. If you do want to associate the Alloy info to the Holder tag values you'd have to query for the master_batch_ids associated with the Alloy and Timestamps you're looking for. Does that make sense?

[2020-07-18 04:11] khancynthia28 commented on #92
@RyanNovelis Alloy info is recorded only during the Casting process. In addition, the Alloy of a batch doesn't change and remains the same throughout the process. Therefore, we get Alloy info from either of the three processes (usually Caster) and then infer it to the rest of the process by association of Batch ID if needed. Closing this issue since Pinda Caster already has Alloy info.

[2020-07-18 04:11] #92 closed

[2020-07-20 13:00] khancynthia28 commented on #85
![image](https://user-images.githubusercontent.com/34836475/87940374-7dd86f80-ca67-11ea-8a9e-595a0bf50dd9.png)

@amitdingareNovelis  Can we close?

[2020-07-21 23:32] zennet-novelis commented on #83
This turned out to be quite complex and I lost the expression in a macro. Need to call in some help from outside our team.

[2020-07-22 13:57] khancynthia28 commented on #56
Closing this one. Please reopen if needed.

[2020-07-22 13:57] #56 closed

[2020-07-22 13:58] khancynthia28 commented on #55
@zennet-novelis Is this ready to be tested?

[2020-07-22 13:59] khancynthia28 commented on #91
@hebernogueira Can we close this now?

[2020-07-22 14:00] khancynthia28 commented on #52
@changhyucklee Any updates on CM2?

[2020-07-22 14:04] khancynthia28 commented on #1
@amitdingareNovelis  Now that the time data is loaded do you still see the issue?

[2020-07-22 14:06] khancynthia28 commented on #8
@amitdingareNovelis Does the issue still exist?

[2020-07-22 15:44] zennet-novelis commented on #83
IBA consultant Manko was immensely helpful. There are a few issues to sort out in order to resolve this issue:

1. The person who assigned the Unwind Speed channel to the dg_PayOffReel_Speed_Meas was not aware it is in RPM.
2. channel should have gone into the 3rd argument.
3. PayOffReel_Diameter is not assigned.

Both the Site Catalog was not implemented correctly, and the PDO was not implemented

[2020-07-22 16:33] hebernogueira commented on #91
@khancynthia28 Hello Cynthia. The main point here is to figure out how Databricks 'find' files in ADLS with one notebook whilst the second notebook and Azure Storage Explorer don't.
It is super strange.
The pipeline brake was noticed during the investigation.
This is not affecting the project anymore but I feel that will happen again somewhere in future.

So if there is no interest about going ahe

[2020-07-23 10:04] changhyucklee commented on #82
For HRM, I have modified speed signals and then found that entry  / exit length was change to be reasonable.
I have applied this updated PDO file to ibaDatcorrdinator from today.

[2020-07-23 13:51] khancynthia28 commented on #91
@hebernogueira Hi Heber. that sounds good. I'm closing it for now. Please reopen if the error occurs again and we can take it to Databricks. Thanks.

[2020-07-23 13:51] #91 closed

[2020-07-23 13:53] khancynthia28 commented on #85
@amitdingareNovelis Hi Amit, closing this one for now. Please reopen if the issue still exists. Thanks.

[2020-07-23 13:53] #85 closed

[2020-07-23 13:54] khancynthia28 commented on #73
Closing the ticket. Please reopen if issue resurfaces.

[2020-07-23 13:54] #73 closed

[2020-07-23 13:55] khancynthia28 commented on #70
@WilberDelbrison Hi Wilber, closing this for now. Please reopen if you still find errors. Thanks.

[2020-07-23 13:55] #70 closed

[2020-07-24 05:30] changhyucklee commented on #82
For HFM,
After convert dg_F1_EnTable_Speed_Meas signal from RPM to m/s by fomular "[13:31]*0.305*PI()/60", I can get reasonable entry rolled length value as below.
I have applied this updated PDO file to ibaDatcorrdinator from today.
![image](https://user-images.githubusercontent.com/60994327/88363183-177e8480-cdba-11ea-9249-e5b6abab1115.png)

[2020-07-24 12:06] khancynthia28 commented on #56
6 such coils still exist:

![image](https://user-images.githubusercontent.com/34836475/88389480-98228e00-cd84-11ea-85e9-d99e03c4dffe.png)

[2020-07-24 12:07] khancynthia28 commented on #56
Keeping the issue closed still since the anomaly is below our thresh hold.

[2020-07-24 19:17] RyanNovelis opened #93 "dg_EnThick_ThicknessDeviation_Relative_Meas pba_hfm null/NaN values"
We are seeing null values for the column of dg_EnThick_ThicknessDeviation_Relative_Meas

![image](https://user-images.githubusercontent.com/58708978/88427134-58799780-cdc0-11ea-92af-9705bdd80e17.png)
![image](https://user-images.githubusercontent.com/58708978/88427162-629b9600-cdc0-11ea-809d-83b4f2d56b83.png)
![image](https://user-images.githubusercontent.com/58708978/88427187-6fb88500-cdc0-11ea-9

[2020-07-24 19:33] guptaad commented on #93
@agrawalch can you please check on this signal? Given this is a dg signal, I take that this should come straight from L2 and so we are possibly missing the catalog mapping of this signal.

@RyanNovelis - Just a quick training point when joining the machine center level tables. You always want to use the sync-length in the join statement. What you are doing here is a cartesian and it would take a l

[2020-07-24 19:35] KrishnaMaddipati commented on #56
we are getting multiple files with same coil id and pass number on different days. In below screenshot coil id 1744696 has got 35 files with same pass number value.

![image](https://user-images.githubusercontent.com/62263802/88428271-9677bb00-cdc2-11ea-81f5-12b87246b910.png)

@zennet-novelis -- As we discussed, here is path for the  coil id 1744696 file which was uploaded on 07/16 'landing/oswego

[2020-07-24 19:43] amitdingareNovelis commented on #93
Hi Adarsh, agreed on the performance. Appreciate if you can get this issue fixed by Monday. We are planning on using this example (provided to us by Roberto) for the training on Tuesday.

[2020-07-24 19:45] RyanNovelis commented on #93
@guptaad Yes everything that isn't being aggregated to the coil based level, so one row per coil,  is also being joined by sync_length as well.

[2020-07-28 16:02] RyanNovelis opened #94 "Pinda tables not partitioned or contain more than just partitions within opsentprodg2"
Went to look at which dates the pinda tables had within opsentprodg2 and found that many tables are no longer partitioned by anything, or contained partitions and parquet files outside of those partitions

![image](https://user-images.githubusercontent.com/58708978/88690538-c4624580-d0c9-11ea-9123-9794528ccd63.png)
![image](https://user-images.githubusercontent.com/58708978/88690581-cd531700-d0c9-

[2020-07-28 19:50] amitdingareNovelis commented on #89
@agrawalch any update on this?

[2020-07-28 21:10] agrawalch commented on #89
@amitdingareNovelis
In the data-validation level-1 checks, this is fixed. Any NaNs present in LengthIndex or ReverseLengthIndex are removed. This will not create any NaNs in sync length. Update on historical data is pending. There is no timeline on this as there is no priority assigned to it for historical.

[2020-07-29 13:31] LunaZhangNovelis opened #95 "Columns missing in opsentprodg2.pba_cm2"
These 4 columns I got from site catalog do not exit in opsentprodg2.pba_cm2:
['dg_ExShape_ActualFlatnessDeviation_Zone38',
 'dg_ExShape_ActualFlatnessDeviation_Zone39',
 'dg_ExShape_ActualFlatnessDeviation_Zone37',
 'dg_ExShape_ActualFlatnessDeviation_Zone36']

[2020-07-30 15:06] amitdingareNovelis commented on #95
@agrawalch any idea why this could have happened?

[2020-08-04 16:02] RyanNovelis opened #96 "Incorrect cg_Gen_PassNumber for pba_cm3"
Incorrect cg_Gen_PassNumber for pba_cm3, 12.215.

![image](https://user-images.githubusercontent.com/58708978/89316486-30085d80-d64a-11ea-809b-f2a2be51aa0a.png)

[2020-08-05 16:50] BrentR2020 commented on #96
Moved to Azure DevOps

[2020-08-05 16:56] BrentR2020 commented on #95
Moved to Azure DevOps

[2020-08-05 17:04] BrentR2020 commented on #93
Moved to Azure DevOps

[2020-08-06 15:55] RyanNovelis opened #97 "_time delta tables are missing days Pinda"
Multiple days are missing from the time delta tables within Pinda

All of August

Multiple days within each other month for multiple machine centers

Parquet files are present within landing standard

Parquet files: example month 7 hfm
![image](https://user-images.githubusercontent.com/58708978/89553601-ba33fb80-d7db-11ea-98fd-01f2636b3c9b.png)

Delta table: example month 7 hfm
![image](https://us

[2020-08-06 16:02] RyanNovelis opened #98 "Finding multiple alloys per one master_batch_id pinda caster"
I found numerous instances where multiple alloys are associated per one master_batch_id

![image](https://user-images.githubusercontent.com/58708978/89554323-b654a900-d7dc-11ea-87a2-da40a7eb67b6.png)

[multi_alloy_batch_id.xlsx](https://github.com/novelis-prod/Digital-CoE-Operations-Data---Public/files/5036135/multi_alloy_batch_id.xlsx)

[2020-08-06 17:37] zhiyu-novelis commented on #97
Additionally, for those dates present in the delta table, some time windows are also missing. E.g. 07-20 before 18:30

[2020-08-12 15:51] ethanchaNovelis opened #99 "Suspicion on cg_Gen_PassNumber only being 1 for Pinda CM3 for the month of April, May and June"
If you could look into this, that'd be greatly appreciated.

![image](https://user-images.githubusercontent.com/60716978/90037220-f232b700-dc91-11ea-9c78-f73c101c48e9.png)

Tagging: @LunaZhangNovelis

[2020-08-12 16:05] LunaZhangNovelis opened #100 "Null cg_Gen_PassNumber for yej_cm3 in May and June"
There are 4 coils in May and 470 coils in June that have null cg_Gen_PassNumber:
![image](https://user-images.githubusercontent.com/60981598/90038983-0ecfee80-dc94-11ea-9929-1ecd9428fe1b.png)
![image](https://user-images.githubusercontent.com/60981598/90039025-1b544700-dc94-11ea-968f-49b0b41cbf08.png)

[2020-08-14 14:12] khancynthia28 commented on #94
Closing this one with the new data load. Please reopen if issue re-surfaces.

[2020-08-14 14:12] #94 closed

[2020-08-14 14:13] khancynthia28 commented on #93
Closing this. Please see DevOps board for updates.

[2020-08-14 14:13] #93 closed

[2020-08-14 14:14] khancynthia28 commented on #40
Closing this as resolved.

[2020-08-14 14:14] #40 closed

[2020-08-14 14:15] khancynthia28 commented on #17
Closing this as resolved. This check is now included in the Inventory Dashboard. Please see MES v DE Table Coil Count tab.

[2020-08-14 14:15] #17 closed

[2020-08-14 14:17] khancynthia28 commented on #3
Closing. please reopen if issue re-surfaces.

[2020-08-14 14:17] #3 closed

[2020-08-14 14:17] khancynthia28 commented on #8
Closing. Please open if issue re-surfaces.

[2020-08-14 14:17] #8 closed

[2020-08-14 14:18] khancynthia28 commented on #9
Resolved.

[2020-08-14 14:18] #9 closed

[2020-08-14 14:21] khancynthia28 commented on #58
Closing this as invalid since HFM data is not yet available. Please reopen if issue exists in the future.

[2020-08-14 14:21] #58 closed

[2020-08-14 14:22] khancynthia28 commented on #59
Closing this as HM data is not yet available. Please reopen if issue exists in the future.

[2020-08-14 14:22] #59 closed

[2020-08-14 14:24] khancynthia28 commented on #75
Closing. Please reopen if issue resurfaces.

[2020-08-14 14:24] #75 closed

[2020-08-14 14:25] khancynthia28 commented on #76
Closing. Please reopen if issue resurfaces.

[2020-08-14 14:25] #76 closed

[2020-08-19 05:10] SatwikNovelis opened #101 "Finding multiple alloys for some coils in PINDA rolling data- HRM, HFM and CM"
Similar to Issue #98
A coil cannot have multiple alloys. It has been observed that some coils are having multiple alloy codes associated with it. Please look into this. Below are some SQL queries I used to validate some data issues.

HRM-8 coils
![image](https://user-images.githubusercontent.com/59966810/90594334-2ccbb080-e1b8-11ea-86c3-68c9d780c2a8.png)

HFM-802 coils
![image](https://user-images

[2020-08-19 16:58] khancynthia28 commented on #90
Resolved.

![image](https://user-images.githubusercontent.com/34836475/90666602-9e891600-e21b-11ea-8099-7c298624ff48.png)

[2020-08-19 16:58] #90 closed

[2020-08-24 18:46] amitdingareNovelis commented on #99
CM3 will have only one pass.

[2020-08-24 18:46] #99 closed

[2020-08-25 12:46] khancynthia28 commented on #100
Resolved.

[2020-08-25 12:46] #100 closed

[2020-09-04 16:45] khancynthia28 commented on #98
Multiple alloys for one batch is created when some rows get updated with data from MES. MES has more accurate info for alloy. Ex: PI would capture Alloy as 5182 and MES would capture it as 5182M which is more accurate (5182M is a subset of 5182). Therefore, in every case of duplicate alloy, the one from MES (with letter in the end should be adopted).

[2020-09-04 16:45] #98 closed

[2020-09-04 16:50] khancynthia28 commented on #89
Closing this as resolved. Please reopen if needed.

[2020-09-04 16:50] #89 closed

[2020-09-09 13:41] SatwikNovelis opened #102 "Wrong 'cg_Gen_PassNumber' for PINDA CM rolling data"
It has been observed for few coils in pinda rolling data had pass numbers 20, 40, 90, 100 which is very unlikely. I ran query to heck how many coils had more than 8 passes and looks like there are more than a 1000 coils. I did not check if the other CM's in pinda also had this issue. Please look into it.

![image](https://user-images.githubusercontent.com/59966810/92605852-3bb9f600-f280-11ea-9122-

[2020-09-18 02:21] #97 closed

[2020-09-18 02:21] #96 closed

[2020-09-18 02:21] #87 closed

[2020-09-18 02:22] #82 closed

[2020-09-18 02:22] #72 closed

[2020-09-18 02:22] #68 closed

[2020-09-18 02:23] #65 closed

[2020-09-18 02:23] #33 closed

[2020-09-18 02:23] #1 closed

[2020-09-18 02:23] #25 closed

[2020-09-18 02:24] #29 closed

[2020-09-18 02:24] #34 closed

[2020-09-18 02:24] #20 closed

[2020-09-21 11:49] hebernogueira commented on #68
Hello @khancynthia28 , I believe this is not fixed, is it?
Or was this issue closed due to the lack of solution?
Thanks

[2020-09-22 11:29] khancynthia28 commented on #101
@SatwikNovelis
Can you please test this? This is resolved. Whenever anything with 518213 is present in parquet files, they are changed to 5182M before writing to delta table.

This solution only works for delta table. The parquet file still has 518213. This change has to happen in PDO and I don’t have enough knowledge yet to do that change.

This is closed because a solution is applied on delta ta

[2020-09-24 15:30] BrentR2020 commented on #102
Updating to Azure Board

[2020-10-09 09:58] RaimundNovelis commented on #83
To debug I did the follwing things:

-- Changed Unwind Speed dg_PayOffReel_Speed_Meas -->  dg_TensionReel_RotationalSpeed_Meas [5:50] RPM and set unit to rps by divid by 60
-- PayOffReel_Diameter assigned with [dg_TensionReel_CoilDiameter_Meas] was mapped to signal [5:11]/12 in ft
-- did the same for TensionReel. The calculated speed values are differenet from the measurements from the laser

![gr

[2020-10-12 14:11] RaimundNovelis commented on #83
After the discussion with Felipe, his proposal was to focus on the PayOffReel and TensionReel Speed checks. We startet to work on latest PDO generator, to fix the issue for the future. The first step was to add additional auxilary expressions to the PDO generator (e_PayOffReel_Diameter, e_TensionReel_Diameter) which will replace the onces (dg_*) which are currently used for the speed validation.